.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #707070;
    background-color: rgba(58, 58, 58, 0.4);
                backdrop-filter: blur(10px);
    

    .header_inner {
        display: flex;
        flex-wrap: wrap;
        padding-block: 1rem;
        align-items: center;
        gap: 1rem;

        .brand_logo {

            margin-right: auto;

            .brand_logo-img {
                display: block;
                width: auto;
                height: 3rem;
            }
        }

        ul {
            gap: 1rem;
            display: flex;
            list-style: none;

            a {
                text-decoration: none;
                padding: .5rem 1rem;
                color: #b0b0b0;
            }
        }

        ul a:hover{
            color: white;
        }
        

        .toggle_button {
            cursor: pointer;
            padding: .8rem 1rem;
            border: none;
            border-radius: 200px;
            background-color: white;
            img{
                display: block;
                width: 22px;
                height: 22px;
            }
        }

        .toggle_button:hover {
            transition: all 80ms ease-in-out;
            background-color: color-mix(in srgb, white, black 15%);
        }

        .contact_btn{
            padding: .7rem .7rem;
        }


    }
}

